body {
    margin: 0;
    background-color: #252525;
    color: white;
    font-family: Arial, Helvetica, sans-serif;



    display: flex; 
    justify-content: center;
    align-items: center;

}

.content {
    justify-content: center;
    align-items: center;
    width: 45rem;
}

.hidden {
    display: none;
}

.text {
    
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5rem 1rem 1rem 1rem;
}

.input-field {
    align-items: center;
    justify-content: center;
}

.btn {
    
    margin: 1rem 1rem;
    border-radius: 25px;

    padding: .5rem ;

    text-align: center;
    font-size: 1.1rem;


    background-color: black;
    color: white;

    border: 3px solid white;

}

.btn:hoover {
    cursor: pointer;
    background-color: #252525;
} 

.input-field {
    padding: .7rem;
    border-radius: 25px;

    background-color: black;
    color: white;

    border: 3px solid white;
}